<%# Recursively render a directory tree %>
<% tree.each do |name, content| %>
  <% if content.is_a?(Hash) && content[:file_id].nil? %>
    <%# This is a directory %>
    <div class="dir-item" data-file-explorer-target="directory" data-parent-path="<%= parent_path %>">
      <div class="dir-header" data-file-explorer-target="dirHeader">
        <span class="dir-toggle" data-file-explorer-target="toggle">+</span>
        <span class="dir-name"><%= name %></span>
      </div>
      <div class="dir-contents" data-file-explorer-target="dirContents">
        <%= render partial: 'directory_tree', locals: { 
          tree: content, 
          level: level + 1,
          parent_path: parent_path.present? ? "#{parent_path}/#{name}" : name
        } %>
      </div>
    </div>
  <% else %>
    <%# This is a file %>
    <% file_id = content[:file_id] %>
    <% viewed = @viewed_file_ids&.include?(file_id) %>
    <% is_key = content[:is_key_file] %>
    <div class="file-item">
      <%= link_to "#", 
          class: viewed ? "viewed-file" : "",
          title: is_key ? "Key file (marked as particularly important)" : nil,
          data: { 
            path: parent_path.present? ? "#{parent_path}/#{name}" : name,
            file_id: file_id,
            action: "click->inline-editor#showFile"
          } do %>
        <% if is_key %>
          <span class="key-file-star" title="Only admins can mark key files">★</span>
        <% end %>
        <span class="file-name-text"><%= name %></span>
      <% end %>
    </div>
  <% end %>
<% end %> 